<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
      body,html
      {
         padding: 0px;
         margin:0px;
         background-color: #F5F5F5;
      }
      .b1 {
         height: auto;
         width: 100%;
         border: 1px solid;
         overflow: hidden;
         background-color: #4267B2;
        }
      .b1  ol li
      {

         display: inline-block;
      }
      nav {
        background-color: #4267B2;
        overflow: hidden;
        float: right;
      }
     
      nav a {
        
        display: inline-block;
        color: white;
        text-align: center;
        padding: 2px 16px;
        text-decoration: none;
      }

      nav a:hover {
        background-color: #ddd;
        color: black;
      }
      /* .b1 nav
      {
        float: right;
      } */
       li
       {
        padding-right:5px;
        padding-left:5px;
       }
        a
       {
        text-decoration: none;
       }
       .b2
       {
        padding-top: 10px;
       }
       .b2 tr,td
       {
        padding:10px;
       }
       .ex{
        margin-left: 430px;
       }
       .ex1{
        border: 1px solid black;
        margin-left: 50px;
  width: 90%;
  margin-top: 30px;
  border-radius: 10px;
        text-align: center;
        background-color: white;
       }
       .ex2{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 50px;
       }
       table
       {
        margin-left: 60px;
        margin-right: 60px;
        border: 2px solid black;
       }
       .b1 img {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  height: 55px;
  width: 95px;
}
header {
	
	display: flex;
	align-items: center;
	justify-content:space-between;
	background:#1876f2;
	padding: 5px 5%;
	position: sticky	;
	top: -10px;
	z-index: 100;
	border-radius:10px;
    /* display: flex;
    align-items: center;
	position: relative;
    justify-content: space-between;
    padding: 10px 0 0 50px;
    background-color: royalblue;
    color: #fff;
    font-size: 18px;
	 */
}
.logo

{
    height: 70px;
	width: 120px;
	margin-top:5px;
	margin-bottom: 10px;
	margin-right: 45px;
	border-radius: 25px;
	cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-right: 5px;
    padding: 0;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
	font-family:'Consolas';
	font-size:18px;
	background-color:#10101E;
    color: #fff;
    text-decoration: none;
    padding: 13px 15px 13px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color:#04AA6D;
}


   </style>
  
  </head>
  <body>

    <header>
      <div class="logo" align="center">
        <img src="/OIP" class="logo">
        
        </div>
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/tables">View Tables</a></li>
          </ul>
          
        </div>
      </header>
      <div class = "b2">
        <form action="" method = "post">
              
        
      </div>
     <div>
        <p class="ex2" >Date: <%= date %> &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Day: <%= day %> &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Time: <%= time %> </p>
       
        <table border = 1 class="ex1" style = "border-collapse: collapse;">
      <thead>
        <tr>
          <th>Faculty</th>
          <th>8:40 - 9:30</th>
          <th>9:30 - 10:20</th>
          <th>10:20 - 11:10</th>
          <th>11:10 - 12:00</th>
          <th>12:00 - 12:50</th>
          <th>12:50 - 01:40</th>
          <th>01:40 - 02:30</th>
          <th>02:30 - 03:20</th>
          <th>03:20 - 04:10</th>
        </tr>
      </thead>
      <tbody>
       
        <% for (let i = 0; i < timetable.length; i++) { %>
             
            <td><%= timetable[i].faculty %></td>
           
            <td><%= timetable[i].Period1 %></td>
            <td><%= timetable[i].Period2 %></td>
            <td><%= timetable[i].Period3 %></td>
            <td><%= timetable[i].Period4 %></td>
            <td>Lunch Break</td>
            <td><%= timetable[i].Period5 %></td>
            <td><%= timetable[i].Period6 %></td>
            <td><%= timetable[i].Period7 %></td>
            <td><%= timetable[i].Period8 %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
     </div>     
     <script>
      setTimeout(function(){
window.location.reload();
}, 1000);
    </script>
  </body>
</html>
